<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumFirstPlayScene</key>
	<dict>
		<key>COUNT_SCORE_FIRST</key>
		<string>countScoreFirst.mp3</string>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
		<key>COUNT_SCORE_YES</key>
		<string>countScoreYes.mp3</string>
		<key>COUNT_SCORE</key>
		<string>countScore.mp3</string>
		<key>BREAK_DICE</key>
		<string>breakDice.mp3</string>
		<key>PRESS_RED_BUTTON_ERROR</key>
		<string>pressRedButtonError.mp3</string>
		<key>CREATE_DICE</key>
		<string>createDice,mp3</string>
		<key>PRESS_RED_BUTTON</key>
		<string>pressRedButton.mp3</string>
		<key>TOUCH_DICE</key>
		<string>touchDice.mp3</string>
		<key>FIRST_PLAY</key>
		<string>firstPlay.mp3</string>
	</dict>
	<key>enumAnimateScene01</key>
	<dict>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
	</dict>
	<key>enumStartMenuScene</key>
	<dict>
		<key>START_MAIN_MENU</key>
		<string>startMainMenu.mp3</string>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
	</dict>
	<key>enumCreditScene</key>
	<dict>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
	</dict>
	<key>enumLVScene</key>
	<dict>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
	</dict>
	<key>enumSingleScene</key>
	<dict>
		<key>CLICK_BUTTON</key>
		<string>clickButton.mp3</string>
		<key>COUNT_SCORE_FIRST</key>
		<string>countScoreFirst.mp3</string>
		<key>COUNT_SCORE_YES</key>
		<string>countScoreYes.mp3</string>
		<key>COUNT_SCORE</key>
		<string>countScore.mp3</string>
		<key>BREAK_DICE</key>
		<string>breakDice.mp3</string>
		<key>PRESS_RED_BUTTON_ERROR</key>
		<string>pressRedButtonError.mp3</string>
		<key>CREATE_DICE</key>
		<string>createDice.mp3</string>
		<key>PRESS_RED_BUTTON</key>
		<string>pressRedButton.mp3</string>
		<key>TOUCH_DICE</key>
		<string>touchDice.mp3</string>
		<key>SINGLE_GAME</key>
		<string>singleGame.mp3</string>
	</dict>
	<key>enumLogoScene</key>
	<dict>
		<key>LOGO</key>
		<string>logo.mp3</string>
	</dict>
	<key>enumNoSceneUninitialized</key>
	<dict/>
</dict>
</plist>
